body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

ol {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 30px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px; /* Font size for answers */
}

input[type="radio"] {
  margin-right: 5px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

#result {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px; /* Font size for result */
}

.correct {
  color: #4caf50;
}

.incorrect {
  color: #f44336;
}

.explanation {
  margin-top: 10px;
  font-size: 14px; /* Font size for explanation */
  color: #555;
}

#timer {
  font-size: 24px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#timer.hidden {
  display: none;
}

#questions div {
  font-size: 18px; /* Adjust the font size as needed */
}

/* Font size for answers */
#questions label {
  font-size: 16px; /* Adjust the font size as needed */
}